header{
    display:flex;
    flex-direction: column;
    text-align: center;
    height: 100px;;
}
p{
    font-size: 15px;
    font-weight: 300;
}
h3{
     font-size: 23px;
    font-weight: 300;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.mainDiv{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-left: 100px;
      padding-right: 100px;
}
.title{
    display: flex;
}
.title>p{
    font-size: larger;
    text-align: center;
    width: 45%;
}